@model  MyDataForLabb1.Models.ModelGallery
@{
    ViewBag.Title = "Upload";
    
} 


<h2>Upload</h2> 
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST"
    }; 
      
} 
 
<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="~/ForWeb/ajax-loader.gif" alt="Loading" />
</div>

@using (Ajax.BeginForm("Upload","Home",ajaxOptions, new { enctype = "multipart/form-data" }
                ))

{ 

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" name="file" id="file" multiple="multiple" class="btn btn-default"/>
            @Html.ValidationMessage("error")
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" id="button-upload"/>
        </div>
    </div>



}

@section scripts{ 
<script src="~/Scripts/LoadingImage.js"></script> 
}