@model MyDataForLabb1.Models.AlbumImages

@{
    ViewBag.Title = "AddImageToAlbums";
}

<h2>AddImageToAlbums</h2>
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST"
    };
}
@using (Ajax.BeginForm("AddImageToAlbums", "Album", ajaxOptions))
{
    @Html.AntiForgeryToken()
    foreach (var image in Model.Images)
    {
        <div>
            <input type="checkbox" name="images[]" value="@image.Id" />
            <img src="~/Images/@image.Name" width="400px"/><br /><br />
            
        </div>
    }
    <select name="albumID">
        @foreach (var album in Model.Albums)
        {
            <option value="@album.AlbumID">@album.Name</option>
        }
    </select>
    <input type="submit" value="Add To Album" class="btn btn-default" />


}
