@model Labb1.Models.AlbumModel
@{
    ViewBag.Title = "ImageToAlbums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@*@foreach (var item in Model)
{
    foreach (var a in item.AlbumListOfImages)
    {
        @a.AlbumID
    }
}*@
